@scope (.wf-devlink-ebacede2c776e1fe98b1ea8c50671714) {
  body {
    background-color: hsla(0, 0.44%, 0%, 1);
    font-family: Monda, sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 20px;
  }
}
