body {
  background-color: #282c34;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 2px;
  color: #fff;
  margin-top: 0;
  padding: 0 20px;
}

.header {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* This places the sections at opposite ends */
  align-items: center; /* Vertically aligns the content */
  color: white;
}
/* Header.css */
.auth-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.auth-links ul li {
  display: inline;
  margin-right: 15px;
}

.auth-links ul li a {
  text-decoration: none;
  color: #333; /* Change color to suit your theme */
}

.auth-links ul li a:hover {
  color: #007bff; /* Hover effect */
}

.hero-text {
  margin-left: 10px;
}

.social-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1px;
  padding: 0;
  margin: 0;
}

.social-links li {
  margin-bottom: 20px;
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.menu_options {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1px;
  margin-left: -40px;
}

.cube {
  background-color: #fff;
  height: 20px;
  width: 20px;
}
.hero-large-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 40px;
  letter-spacing: 5px;
  color: #86b2c1;
  text-transform: uppercase;
  font-weight: bold;
}

.hero-large-text span {
  margin-right: 10px;
  margin-bottom: 20px;
  color: #86b2c1;
  font-size: 40px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

.subscription {
  margin-top: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  letter-spacing: 4px;
  margin-right: 20px;
}

.subscription h5 {
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 27px;
  color: #86b2c1;
}

.subscription input[type='email'] {
  padding: 8px;
  max-width: 150px;
  margin-top: -20px;
  background-color: #333; /* Dark background to match */
  color: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
}

.subscription label {
  color: #86b2c1;
  font-size: 16px;
  margin-bottom: 5px;
  display: flex;
  align-items: center; /* Ensures the checkbox and text are vertically aligned */
}

.subscription input[type='checkbox'] {
  margin-right: 10px;
  margin-left: 18px;
}

.subscription label {
  margin-left: -15px;
}
.subscription button {
  background-color: #333;
  margin-left: 40px;
  color: #fff;
  padding: 5px;
  border-radius: 10px;
}

.subscription button:hover {
  background-color: green;
}
