body {
  font-family: Arial, sans-serif;
  background-color: #201e43;
  color: #fff;
}

.header {
  min-height: 10vh;
  display: flex;
  flex-direction: row;

  padding: 20px;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.socials {
  display: flex;
  align-items: center;
}

.socials-logo {
  width: 100px;
  height: 100px;
}

.socials-text {
  margin-left: 10px;
}

.socials-large-text {
  font-size: 20px;
  color: #86b2c1;
}

.subscription {
  margin-top: 20px;
}

.subscription h5 {
  font-size: 18px;
  color: #fff;
}
